* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
}

.container {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.login-btn {
  padding: 8px 16px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  border-radius: 8px;
}

.create-account-btn {
  padding: 8px 16px;
  background: #5e60ce;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-be
}